[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
neo4j = "*"
geopy = "*"
geojson = "*"
geojson-length = "*"
python-dotenv = "*"
networkx = "*"
numpy = "*"
tensorflow = {version = "*", sys_platform = "!= 'darwin'"}
tensorflow-macos = {version = "*", sys_platform = "== 'darwin'"}
tensorflow-metal = {version = "*", sys_platform = "== 'darwin'"}

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
